/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}
#wrapper {
  position: absolute;
  left: 30%;
  top: 50%;
  width: 500px;
  height: 500px;
}
/* /* html, */
body {
  height: 100%;
  margin: 10;
  padding: 0;
}

/* info box title style */
h1 {
  display:flex;
  border-bottom: 2px solid lightgrey;
  align-items: center;
  padding: 3%;
}

/* intro box & quiz style  */
#introBox,
#quiz {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 15px;
  font-family: ;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Start Quiz button style*/
.startQuiz-btn {
  display: flex;
  position: absolute;
  top: 50%;
  left: 35%;
  border: none;
  background-color: rgb(152, 10, 165);
  border-radius: 15px;
  color: hsl(0, 0%, 100%);
  display: center;
  font-size: 13px;
  margin: 16px 16px 16px 20px;
  position: relative;
  padding: 5px 12px;
  text-align: center;
  cursor: pointer;
  
}

/* Quiz choices style */
#a, #b, #c, #d {
  display: list-item;
  border: none;
  background-color: rgb(152, 10, 165);
  border-radius: 15px;
  color: hsl(0, 0%, 100%);
  display: center;
  font-size: 13px;
  margin: 16px 16px 16px 20px;
  padding: 5px 12px;
}
